* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-image: url("./bg.jpg");
}

h1 {
  font-size: 60px;
  margin: 40px 0;
}

.countdown {
  display: flex;
  transform: scale(2);
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
